/.idea
/assets/
/assets/*
/connectors/
/core/
/core/*
/manager/
!.gitignore
!/_build/*
/_packages/
!/assets/components/antispambycleantalk/*
!/core/components/antispambycleantalk/*
!/tests
!/.travis.yml
!/LICENSE
!/README.md
/ht.access
/index.php